<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
<h3>{{role}}</h3>

<form method="post" action="/login/{{role}}">
    <input type="email" placeholder="email" name="email"><br>
    <input type="password" placeholder="password" name="password"><br>
    <input type="submit" value="Sign In">
    <input type="submit" formaction="/authorize/{{role}}" value="Get Token">
</form>

Don't have account ?
<a href="/signup">Sign up</a>

</body>
</html>