<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
</head>
<body>

<div>
    Name: {{name}}
</div>
<div>
    Email: {{email}}

</div>

<a href="/logout">Logout</a>

</body>
</html>