<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Go to Login</title>
</head>
<body>

<a href="/signup/student">Sign Up as a Student</a><br>
<a href="/signup/company">Sign Up as a Company</a><br>
<a href="/signup/admin">Sign Up as an Admin</a><br>


Don't have account ?
<a href="/login">Login</a>

</body>
</html>