<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Go to Login</title>
</head>
<body>

<a href="/login/student">Login as a Student</a>
<a href="/login/company">Login as a Company</a>
<a href="/login/admin">Login as an Admin</a>


Don't have account ?
<a href="/signup">Sign up</a>

</body>
</html>